[class*=header_]:has(+[class*=premiumTab_]),
[class*=premiumTab_],
[class*=premiumTab_]+[class*=item_],
[aria-label=Subscriptions],
[aria-label='Gift Inventory'],
[aria-label='Gift Inventory']+[class*=item_],
[aria-label='Gift Inventory']+[class*=item_]+[class*=separator_],

[href='/store'],
[href='/shop'],

[href='https://support.discord.com'],

#profile-customization-tab>[class*=container_],
[class*=tryItOutSection_],
[class*=upsellContainer_],
[class*=upsellOverlayContainer_],

[class*=profileEffects_],
[class*=avatarDecoration_],
[class*=premiumIcon_],
[class*=platedWrapper_]>[style*='background: linear-gradient'],
[class*=nameplated_]>[style*='background: linear-gradient'],

[class*=shinyButton_],
[class*=effectsWrapper_],
[class*=burstGlow_],

[data-list-item-id*=channels___boosts],

[class*=threadSuggestionBar_],
[class*=popout_]:has(>[class*=more_]),

[class*='membersGroup_']:has(>[role=button]),
[class*='container_']:has(>[class*='infoSection_']),

[class*=gradientBackground_],

#channel-context-invite-people,
[class*=separator_]:has(+div>#guild-context-invite-people),
#guild-context-invite-people,

#user-context-invite-to-server,
#user-context-call,
#user-context-note,
#user-context-add-friend-nickname,
#user-context-close-dm,

#message-actions>div>[class*=wrapper_],
#message-actions-add-reaction-0,
#message-actions-edit,
#message-actions-thread,
#message-actions-save-for-later-upsell,
#message-actions-mark-unread,
#message-actions-tts,
#message-actions-report,

#message>div>[class*=wrapper_],
#message-add-reaction-0,
#message-edit,
#message-thread,
#message-save-for-later-upsell,
#message-mark-unread,
#message-tts,
#message-report,

[aria-label='Create Invite'],
[aria-label='Invite to Server'],

[aria-label='Send a gift'],
[class*=channelAppLauncher_],

[aria-label*='Click to react'],
[aria-label*='Click to react']~[class*=separator_],
[aria-label*='Click to remove'],
[aria-label*='Click to remove']~[class*=separator_],
[aria-label='Create Thread'],
[aria-label='Bookmark Message'],
[aria-label='Mark Unread'],
[aria-label='Enable Super Reactions'] {
    display: none !important;
}

/* code markup */
code {
    border: none !important;
}

/* color banner */
[class*=banner_][style*=background-color] {
    background-color: transparent !important;
}

/* nameplate close dm button */
[class*=closeButtonPlated_] {
    --custom-nameplate: transparent !important;
    --custom-nameplate-neutral: transparent !important;
    --custom-nameplate-neutral-hovered: transparent !important;
}

/* profile message box */
[class*=biteSize_]>[class*=footer_] {
    display: none;
}

/* super reaction */
[class*=hideEmoji_] {
    opacity: 1;
}

[class*=shakeReaction_] {
    animation: none !important;
}

/* view full bio */
[class*=descriptionClamp_] {
    display: block;
    max-height: unset;
}

[class*=viewFullBio_] {
    display: none;
}
