[class*=header_]:has(+[class*=premiumTab_]),
[class*=premiumTab_],
[class*=premiumTab_]+[class*=item_],
[aria-label=Subscriptions],
[aria-label='Gift Inventory'],
[aria-label='Gift Inventory']+[class*=item_],
[aria-label='Gift Inventory']+[class*=item_]+[class*=separator_],

[href='/store'],
[href='/shop'],

[href='https://support.discord.com'],

#profile-customization-tab>[class*=container_],
[class*=customizationSection_]:has(>h3>[class*=premiumBadge_]),
[class*=tryItOutSection_],
[class*=upsellOverlayContainer_],

[class*=profileEffects_],
[class*=avatarDecoration_],
[class*=premiumIcon_],

[class*=shinyButton_],
[class*=effectsWrapper_],
[class*=burstGlow_],

[data-list-id=guildsnav]>[class*=footer_],
[aria-label=Servers]~[class*=listItem_],

[data-list-item-id*=channels___boosts],

[class*=threadSuggestionBar_],
[class*=popout_]:has(>[class*=more_]),

[class*=option_]:after,

#channel-context-invite-people,
[class*=separator_]:has(+div>#guild-context-invite-people),
#guild-context-invite-people,

#user-context-invite-to-server,
#user-context-call,
#user-context-note,
#user-context-add-friend-nickname,
#user-context-close-dm,

#message-actions>div>[class*=wrapper_],
#message-actions-add-reaction-0,
#message-actions-edit,
#message-actions-pin,
#message-actions-thread,
#message-actions-mark-unread,
#message-actions-copy-link,
#message-actions-tts,
#message-actions-report,
[class*=separator_]:has(+div>[id*=message-actions-devmode-copy-id]),
[id*=message-actions-devmode-copy-id],

#message>div>[class*=wrapper_],
#message-add-reaction-0,
#message-edit,
#message-thread,
#message-mark-unread,
#message-tts,
#message-report,
[class*=separator_]:has(+div>[id*=message-devmode-copy-id]),
[id*=message-devmode-copy-id],

[aria-label='Create Invite'],
[aria-label='Invite to Server'],

[aria-label='Send a gift'],
[class*=channelAppLauncher_],

[aria-label*='Click to'],
[aria-label*='Click to']+[class*=separator_],
[aria-label='Mark Unread'],
[aria-label='Copy Message ID'],
[aria-label='Enable Super Reactions'],

[data-author-username=AxerBot]:has([class*=messageContent_]>ul) {
    display: none !important;
}

/* super reaction */
[class*=hideEmoji_] {
    opacity: 1;
}

[class*=shakeReaction_] {
    animation: none !important;
}
