[class*=header]:has(+[class*=premiumTab]),
[class*=premiumTab],
[class*=premiumTab]+[class*=item],
[aria-label=Subscriptions],
[aria-label='Gift Inventory'],
[aria-label='Gift Inventory']+[class*=item],
[aria-label='Gift Inventory']+[class*=item]+[class*=separator],

[href='/store'],
[href='/shop'],
[href='/quest-home'],

[href='https://support.discord.com'],

[aria-label='Checkpoint'],

#profile-customization-tab>[class*=container],
[class*=tryItOutSection],
[class*=upsellContainer],
[class*=upsellOverlayContainer],

[class*=profileEffects],
[class*=avatarDecoration],
[class*=premiumIcon],
[class*=interactive]>[style*='background: linear-gradient'],
[class*=nameplated]>[style*='background: linear-gradient'],

[class*=shinyButton],
[class*=effectsWrapper],
[class*=burstGlow],

[data-list-item-id*=channels___boosts],

[class*=threadSuggestionBar],
[class*=popout]:has(>[class*=more]),

[class*=membersGroup]:has(>[role=button]),
[class*=container]:has(>[class*=infoSection]),

[class*=pulseGradient],

#channel-context-invite-people,
[class*=separator]:has(+div>#guild-context-invite-people),
#guild-context-invite-people,

#user-context-invite-to-server,
#user-context-call,
#user-context-note,
#user-context-add-friend-nickname,
#user-context-close-dm,

#message-actions>div>[class*=wrapper],
#message-actions-add-reaction-0,
#message-actions-edit,
#message-actions-thread,
#message-actions-save-for-later-upsell,
#message-actions-mark-unread,
#message-actions-tts,
#message-actions-report,

#message>div>[class*=wrapper],
#message-add-reaction-0,
#message-edit,
#message-thread,
#message-save-for-later-upsell,
#message-mark-unread,
#message-tts,
#message-report,

[aria-label='Create Invite'],
[aria-label='Invite to Server'],
[aria-label='Invite to Channel'],
[class*=inviteButton],

[aria-label='Send a gift'],
[class*=channelAppLauncher],

[aria-label*='Click to react'],
[aria-label*='Click to react']~[class*=separator],
[aria-label*='Click to remove'],
[aria-label*='Click to remove']~[class*=separator],
[aria-label='Create Thread'],
[aria-label='Bookmark Message'],
[aria-label='Mark Unread'],
[aria-label='Enable Super Reactions'] {
    display: none !important;
}

/* code markup */
code {
    border: none !important;
}

/* color banner */
[class*=banner][style*=background-color] {
    background-color: transparent !important;
}

/* nameplate close dm button */
[class*=closeButtonPlated] {
    --custom-nameplate: transparent !important;
    --custom-nameplate-neutral: transparent !important;
    --custom-nameplate-neutral-hovered: transparent !important;
}

/* profile message box */
[class*=biteSize]>[class*=footer] {
    display: none;
}

/* super reaction */
[class*=hideEmoji] {
    opacity: 1;
}

[class*=shakeReaction] {
    animation: none !important;
}

/* view full bio */
[class*=descriptionClamp] {
    display: block;
    max-height: unset;
}

[class*=viewFullBio] {
    display: none;
}
