.theme-midnight {
    --background-secondary-alt: color-mix(in oklab, var(--neutral-95) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-surface-overlay: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}

/* color banner */
[class*=banner_][style*=background-color] {
    background-color: transparent !important;
}

/* long bio */
[class*=descriptionClamp_] {
    display: block;
    max-height: unset;
}

[class*=viewFullBio_] {
    display: none;
}

/* message box */
[class*=biteSize_]>[class*=footer_] {
    display: none;
}
