.theme-dark {
    --bg-mod-faint: transparent;
    --border-faint: transparent;
}

/* account panel */
[class*=accountProfilePopoutWrapper_] {
    bottom: -8px;
}

/* color banner */
[class*=banner_][style*=background-color] {
    background-color: transparent !important;
}

/* footer & note */
[class*=userProfileInner_]>[class*=footer_],
[class*=section_]:has(>[class*=note_]),
[aria-label='Add Note'] {
    display: none;
}

/* long bio */
[class*=descriptionClamp_] {
    display: block;
    max-height: unset;
}

[class*=viewFullBio_] {
    display: none;
}
