:root {
    --font-primary: Inter;
    --font-display: Inter;
    --font-code: Consolas;
}

/* add reaction button */
[class*=reactionBtn][class*=forceShow] {
    opacity: 0;
}

/* bot option drop down */
[class*=popout][style*=max-height]:has(+[class*=measurement]) {
    max-height: 100vh !important;
}

/* bot tag */
[class*=botText] {
    font-weight: 500;
    font-size: .625rem !important;
}

/* dashless channel name */
@font-face {
    src: url('https://vendicated.github.io/random-files/Dashless.woff2') format('woff2');
    font-family: 'Dashless';
}

[class*=name],
h1[class*=title],
[class*=channelNameText],
[class*=placeholder] {
    font-family: 'Dashless', var(--font-primary);
}

/* friend list username */
[class*=discriminator] {
    visibility: visible;
}

/* loading screen */
[class*=fixClipping] {
    background: transparent;
    pointer-events: none;
}

/* member count offline icon */
.vc-membercount-total-dot {
    border: none !important;
    background-color: var(--primary-400);
    width: 12px !important;
    height: 12px !important;
}

/* more user tag */
[data-tag=owner] {
    background-color: var(--text-warning);
}

[data-tag=admin] {
    background-color: var(--red-400);
}

[data-tag=staff] {
    background-color: var(--green-345);
}

[data-tag=mod] {
    background-color: var(--green-400);
}

[data-tag='vc mod'] {
    background-color: var(--teal-345);
}

[data-tag='chat mod'] {
    background-color: var(--teal-400);
}

[data-tag*=bot] {
    background-color: var(--blue-360);
}


/* open chat button in voice channel */
[aria-label='Open Chat'] {
    display: flex;
    order: 1;
}

/* rich presence */
[class*=card]>header>[class*=headerText]>[class*=overflow] {
    white-space: wrap;
}

[class*=card]>[class*=body]>[class*=content]>[class*=details]>div>[class*="heading-sm/semibold_"] {
    font-size: 12px;
}

/* side dm profile */
.theme-midnight {
    --background-secondary-alt: color-mix(in oklab, var(--neutral-95) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-surface-overlay: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}

/* search bar first */
[class*=toolbar]>[class*=search] {
    order: -1;
}

/* server list item */
[class*=blobContainer]>[class*=wrapper],
[class*=listItemWrapper]>[class*=wrapper] {
    zoom: 1.2;
}

[id*=folder-items] {
    height: 100% !important;
}

[class*=olderPreviewGuildIcon] {
    border-radius: 50% !important;
    font-size: 6px !important;
}

/* windows title bar */
[class*=winButton]:not([class*=winButtons]) {
    width: 48px;
    height: 48px;
}

[aria-label='Channel header']:not([class*=threadSidebarOpen]>div>[aria-label='Channel header']),
section[class*=header]:not([class*=threadSidebarOpen]>section[class*=header]),
[aria-label='Create Thread']>section>div>[class*=toolbar],
[aria-label='Thread header'],
[aria-label*='Show Chat'],
main>section[class*=container],
[class*=container]>[class*=headerBar]:has(>[class*=searchBar]),
[class*=innerContainer]>[class*=headerBar]:has(>[class*=searchBar]) {
    padding-right: calc(48px * 5);
}

[class*=container]>[class*=base] {
    grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end];
}

[class*=base]>[class*=bar] {
    display: block;
    align-content: start;
    z-index: 9999;
    padding: 0;
    min-height: 9px;
}

[class*=base]>[class*=bar]>[class*=trailing] {
    position: absolute;
    right: 0;
    gap: 5px;
}

[class*=winButtons] {
    gap: 0;
}

[data-tab-id=hubs],
[class*=winButtons]:before,
[class*=base]>[class*=bar]>[class*=title],
[class*=base]>[class*=bar]>[class*=leading] {
    display: none;
}

[class*=stack]>[class*=tutorialContainer]:first-child,
[class*=stack]>[class*=listItem]:first-child {
    margin-top: 12px;
}
