:root {
    --font-primary: Inter;
    --font-display: Inter;
    --font-code: Consolas;
}

/* add reaction button */
[class*=reactionBtn_][class*=forceShow_] {
    opacity: 0;
}

/* bot option drop down */
[class*=popout_][style*=max-height]:has(+[class*=measurement_]) {
    max-height: 100vh !important;
}

/* bot tag */
[class*=botText_] {
    font-weight: 500;
    font-size: .625rem !important;
}

/* channel indicator */
:root {
    --i-width: 2px;
    --i-mention: var(--red-360-hsl);
    --i-selected: var(--blue-330-hsl);
    --i-connected: var(--green-260-hsl);
}

[class*=containerDefault_] {
    margin: 2px 0;
}

[class*=containerDefault_] [class*=link_] {
    background: transparent !important;
}

[class*=containerDefault_]:has(>[class*=typeDefault_]):hover {
    background-color: var(--background-modifier-hover);
}

/* selected */
[class*=containerDefault_]:has(>[class*=modeSelected_]) {
    background-color: hsla(var(--i-selected)/0.15);
}

[class*=containerDefault_]:has(>[class*=modeSelected_]):before {
    position: absolute;
    background: hsl(var(--i-selected));
    width: calc(var(--i-width) + 1px);
    height: 100%;
    content: '';
}

[class*=containerDefault_]:has(>[class*=modeSelected_]):hover {
    background-color: hsla(var(--i-selected)/0.25);
}

[class*=containerDefault_]>[class*=modeSelected_]>div>[class*=link_] svg,
[class*=containerDefault_]>[class*=modeSelected_]>div>[class*=link_]>div>[class*=name_],
[class*=containerDefault_]>[class*=modeSelected_][class*=typeThread_]>[class*=link_]>div>[class*=name_] {
    color: hsl(var(--i-selected));
}

/* old unread */
[class*=containerDefault_]>[class*=modeUnread_]>[class*=unreadRelevant_] {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    border-radius: 0;
    width: var(--i-width);
    height: 15px;
}

[class*=containerDefault_]>[class*=modeUnread_]>div>[class*=link_] svg,
[class*=containerDefault_]>[class*=modeUnread_]>div>[class*=link_]>div>[class*=name_] {
    color: #fff;
}

/* new unread */
[class*=containerDefault_]>div>[class*=unread_] {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    border-radius: 0;
    width: var(--i-width);
    height: 15px;
    z-index: -1;
}

[class*=containerDefault_]>[class*=modeUnreadImportant_]>div>[class*=link_] svg,
[class*=containerDefault_]>[class*=modeUnreadImportant_]>div>[class*=link_]>div>[class*=name_] {
    color: #fff;
}

/* mention */
[class*=containerDefault_]:has([class*=mentionsBadge_]):hover {
    background-color: hsla(var(--i-mention)/0.25);
}

[class*=containerDefault_]:has([class*=mentionsBadge_])>div>[class*=unreadRelevant_] {
    background-color: hsl(var(--i-mention));
}

[class*=containerDefault_]:has([class*=mentionsBadge_])>div>div>[class*=link_] svg,
[class*=containerDefault_]:has([class*=mentionsBadge_])>div>div>[class*=link_]>div>[class*=name_],
[class*=containerDefault_]:has([class*=mentionsBadge_])>[class*=typeThread_]>[class*=link_]>div>[class*=name_] {
    color: hsl(var(--i-mention));
}

/* connected */
[class*=containerDefault_]:has(>div>[class*=modeConnected_]) {
    background-color: hsla(var(--i-connected)/0.15);
}

[class*=containerDefault_]:has(>div>[class*=modeConnected_]):before {
    position: absolute;
    background: hsl(var(--i-connected));
    width: calc(var(--i-width) + 1px);
    height: 100%;
    content: '';
}

[class*=containerDefault_]:has(>div>[class*=modeConnected_]):hover {
    background-color: hsla(var(--i-connected)/0.25);
}

[class*=containerDefault_]>div>[class*=modeConnected_]>div>[class*=link_] svg,
[class*=containerDefault_]>div>[class*=modeConnected_]>div>[class*=link_]>div>[class*=name_] {
    color: hsl(var(--i-connected));
}

/* dm */
[class*=channel_] {
    margin: 2px 0;
    max-width: unset;
}

[class*=channel_]>div>[class*=link_] {
    padding-left: 16px !important;
}

[class*=channel_]:hover {
    background-color: var(--background-modifier-hover);
}

/* selected */
[class*=channel_]:has(>[class*=selected_]) {
    background-color: hsla(var(--i-selected)/0.15);
}

[class*=channel_]:has(>[class*=selected_]):before {
    position: absolute;
    background: hsl(var(--i-selected));
    width: var(--i-width);
    height: 100%;
    content: '';
}

[class*=channel_]:has(>[class*=selected_]):hover {
    background-color: hsla(var(--i-selected)/0.25);
}

[class*=channel_]>[class*=selected_]>[class*=link_]>div>div>[class*=linkButtonIcon_],
[class*=channel_]>[class*=selected_]>[class*=link_]>div>div>div>[class*=name_],
[class*=channel_]>[class*=selected_]>[class*=closeButton_] {
    color: hsl(var(--i-selected));
}

[class*=channel_]>[class*=interactive_] {
    background: transparent;
}

/* dashless channel name */
@font-face {
    src: url('https://vendicated.github.io/random-files/Dashless.woff2') format('woff2');
    font-family: 'Dashless';
}

[class*=name_],
h1[class*=title_],
[class*=channelNameText_],
[class*=placeholder_] {
    font-family: 'Dashless', var(--font-primary);
}

/* friend list username */
[class*=discriminator_] {
    visibility: visible;
}

/* loading screen */
[class*=fixClipping_] {
    background: transparent;
    pointer-events: none;
}

/* open chat button in voice channel */
[aria-label='Open Chat'] {
    display: flex;
    order: 1;
}

/* rich presence */
[class*=card_]>header>[class*=headerText_]>[class*=overflow_] {
    white-space: wrap;
}

[class*=card_]>[class*=body_]>[class*=content_]>[class*=details_]>div>[class*="heading-sm/semibold_"] {
    font-size: 12px;
}

/* search bar first */
[class*=toolbar_]>[class*=search_] {
    order: -1;
}

/* server list item */
[class*=blobContainer_]>[class*=wrapper_],
[class*=listItemWrapper_]>[class*=wrapper_] {
    zoom: 1.2;
}

[id*=folder-items] {
    height: 100% !important;
}

[class*=closedFolderIconWrapper_]>[class*=guildIcon_] {
    border-radius: 50% !important;
    font-size: 6px !important;
}

/* windows title bar */
[class*=winButton_] {
    width: 48px;
    height: 48px;
}

[aria-label='Channel header']:not([class*=threadSidebarOpen_]>div>[aria-label='Channel header']),
section[class*=header_]:not([class*=threadSidebarOpen_]>section[class*=header_]),
[aria-label='Create Thread']>section>div>[class*=toolbar_],
[aria-label='Thread header'],
[aria-label*='Show Chat'],
main>section[class*=container_],
[class*=container_]>[class*=headerBar_]:has([class*=searchBar_]),
[class*=innerContainer_]>[class*=headerBar_]:has([class*=searchBar_]) {
    padding-right: calc(48px * 4);
}

[class*=wordmarkWindows_] {
    display: none;
}

[class*=container_]>[class*=base_] {
    grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end];
}

[data-windows=true] {
    display: block;
    align-content: start;
    z-index: 101;
    padding: 0;
    min-height: 9px;
}

[data-windows=true]>[class*=trailing_] {
    position: absolute;
    right: 0;
    gap: 5px;
}

[class*=winButtons_] {
    gap: 0;
}

[data-tab-id=hubs],
[class*=winButtons_]:before,
[data-windows=true]>[class*=title_],
[data-windows=true]>[class*=leading_] {
    display: none;
}
