/* member count offline icon */
.vc-membercount-total-dot {
    border: none !important;
    background-color: var(--primary-400);
    width: 12px !important;
    height: 12px !important;
}

/* more user tag */
[data-tag=owner] {
    background-color: var(--text-warning);
}

[data-tag=admin] {
    background-color: var(--red-400);
}

[data-tag=staff] {
    background-color: var(--green-345);
}

[data-tag=mod] {
    background-color: var(--green-400);
}

[data-tag='vc mod'] {
    background-color: var(--teal-345);
}

[data-tag='chat mod'] {
    background-color: var(--teal-400);
}

[data-tag*=bot] {
    background-color: var(--blue-360);
}
