/* channel indicator */
:root {
    --i-width: 2px;
    --i-mention: var(--red-360-hsl);
    --i-selected: var(--blue-330-hsl);
    --i-connected: var(--green-260-hsl);
}

[class*=containerDefault] {
    margin: 2px 0;
}

[class*=containerDefault] [class*=link] {
    background: transparent !important;
}

[class*=containerDefault]:has(>[class*=typeDefault]):hover {
    background-color: var(--background-modifier-hover);
}

/* selected */
[class*=containerDefault]:has(>[class*=modeSelected]) {
    background-color: hsla(var(--i-selected)/0.15);
}

[class*=containerDefault]:has(>[class*=modeSelected]):before {
    position: absolute;
    background: hsl(var(--i-selected));
    width: calc(var(--i-width) + 1px);
    height: 100%;
    content: '';
}

[class*=containerDefault]:has(>[class*=modeSelected]):hover {
    background-color: hsla(var(--i-selected)/0.25);
}

[class*=containerDefault]>[class*=modeSelected]>div>[class*=link] svg,
[class*=containerDefault]>[class*=modeSelected]>div>[class*=link]>div>[class*=name],
[class*=containerDefault]>[class*=modeSelected][class*=typeThread]>[class*=link]>div>[class*=name] {
    color: hsl(var(--i-selected));
}

/* old unread */
[class*=containerDefault]>[class*=modeUnread]>[class*=unreadRelevant] {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    border-radius: 0;
    width: var(--i-width);
    height: 15px;
}

[class*=containerDefault]>[class*=modeUnread]>div>[class*=link] svg,
[class*=containerDefault]>[class*=modeUnread]>div>[class*=link]>div>[class*=name] {
    color: #fff;
}

/* new unread */
[class*=containerDefault]>div>[class*=unread] {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    border-radius: 0;
    width: var(--i-width);
    height: 15px;
    z-index: -1;
}

[class*=containerDefault]>[class*=modeUnreadImportant]>div>[class*=link] svg,
[class*=containerDefault]>[class*=modeUnreadImportant]>div>[class*=link]>div>[class*=name] {
    color: #fff;
}

/* mention */
[class*=containerDefault]:has([class*=mentionsBadge]):hover {
    background-color: hsla(var(--i-mention)/0.25);
}

[class*=containerDefault]:has([class*=mentionsBadge])>div>[class*=unreadRelevant] {
    background-color: hsl(var(--i-mention));
}

[class*=containerDefault]:has([class*=mentionsBadge])>div>div>[class*=link] svg,
[class*=containerDefault]:has([class*=mentionsBadge])>div>div>[class*=link]>div>[class*=name],
[class*=containerDefault]:has([class*=mentionsBadge])>[class*=typeThread]>[class*=link]>div>[class*=name] {
    color: hsl(var(--i-mention));
}

/* connected */
[class*=containerDefault]:has(>div>[class*=modeConnected]) {
    background-color: hsla(var(--i-connected)/0.15);
}

[class*=containerDefault]:has(>div>[class*=modeConnected]):before {
    position: absolute;
    background: hsl(var(--i-connected));
    width: calc(var(--i-width) + 1px);
    height: 100%;
    content: '';
}

[class*=containerDefault]:has(>div>[class*=modeConnected]):hover {
    background-color: hsla(var(--i-connected)/0.25);
}

[class*=containerDefault]>div>[class*=modeConnected]>div>[class*=link] svg,
[class*=containerDefault]>div>[class*=modeConnected]>div>[class*=link]>div>[class*=name] {
    color: hsl(var(--i-connected));
}

/* dm */
[class*=channel] {
    margin: 2px 0;
    max-width: unset;
}

[class*=channel]>div>[class*=link] {
    padding-left: 16px !important;
}

[class*=channel]:hover {
    background-color: var(--background-modifier-hover);
}

/* selected */
[class*=channel]:has(>[class*=selected]) {
    background-color: hsla(var(--i-selected)/0.15);
}

[class*=channel]:has(>[class*=selected]):before {
    position: absolute;
    background: hsl(var(--i-selected));
    width: var(--i-width);
    height: 100%;
    content: '';
}

[class*=channel]:has(>[class*=selected]):hover {
    background-color: hsla(var(--i-selected)/0.25);
}

[class*=channel]>[class*=selected]>[class*=link]>div>div>[class*=linkButtonIcon],
[class*=channel]>[class*=selected]>[class*=link]>div>div>div>[class*=name],
[class*=channel]>[class*=selected]>[class*=closeButton] {
    color: hsl(var(--i-selected));
}

[class*=channel]>[class*=interactive] {
    background: transparent;
}
