/* channel indicator */
:root {
    --i-width: 2px;
    --i-mention: var(--red-360-hsl);
    --i-selected: var(--blue-330-hsl);
    --i-connected: var(--green-260-hsl);
}

[class*=containerDefault_] {
    margin: 2px 0;
}

[class*=containerDefault_] [class*=link_] {
    background: transparent !important;
}

[class*=containerDefault_]:has(>[class*=typeDefault_]):hover {
    background-color: var(--background-modifier-hover);
}

/* selected */
[class*=containerDefault_]:has(>[class*=modeSelected_]) {
    background-color: hsla(var(--i-selected)/0.15);
}

[class*=containerDefault_]:has(>[class*=modeSelected_]):before {
    position: absolute;
    background: hsl(var(--i-selected));
    width: calc(var(--i-width) + 1px);
    height: 100%;
    content: '';
}

[class*=containerDefault_]:has(>[class*=modeSelected_]):hover {
    background-color: hsla(var(--i-selected)/0.25);
}

[class*=containerDefault_]>[class*=modeSelected_]>div>[class*=link_] svg,
[class*=containerDefault_]>[class*=modeSelected_]>div>[class*=link_]>div>[class*=name_],
[class*=containerDefault_]>[class*=modeSelected_][class*=typeThread_]>[class*=link_]>div>[class*=name_] {
    color: hsl(var(--i-selected));
}

/* old unread */
[class*=containerDefault_]>[class*=modeUnread_]>[class*=unreadRelevant_] {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    border-radius: 0;
    width: var(--i-width);
    height: 15px;
}

[class*=containerDefault_]>[class*=modeUnread_]>div>[class*=link_] svg,
[class*=containerDefault_]>[class*=modeUnread_]>div>[class*=link_]>div>[class*=name_] {
    color: #fff;
}

/* new unread */
[class*=containerDefault_]>div>[class*=unread_] {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    border-radius: 0;
    width: var(--i-width);
    height: 15px;
    z-index: -1;
}

[class*=containerDefault_]>[class*=modeUnreadImportant_]>div>[class*=link_] svg,
[class*=containerDefault_]>[class*=modeUnreadImportant_]>div>[class*=link_]>div>[class*=name_] {
    color: #fff;
}

/* mention */
[class*=containerDefault_]:has([class*=mentionsBadge_]):hover {
    background-color: hsla(var(--i-mention)/0.25);
}

[class*=containerDefault_]:has([class*=mentionsBadge_])>div>[class*=unreadRelevant_] {
    background-color: hsl(var(--i-mention));
}

[class*=containerDefault_]:has([class*=mentionsBadge_])>div>div>[class*=link_] svg,
[class*=containerDefault_]:has([class*=mentionsBadge_])>div>div>[class*=link_]>div>[class*=name_],
[class*=containerDefault_]:has([class*=mentionsBadge_])>[class*=typeThread_]>[class*=link_]>div>[class*=name_] {
    color: hsl(var(--i-mention));
}

/* connected */
[class*=containerDefault_]:has(>div>[class*=modeConnected_]) {
    background-color: hsla(var(--i-connected)/0.15);
}

[class*=containerDefault_]:has(>div>[class*=modeConnected_]):before {
    position: absolute;
    background: hsl(var(--i-connected));
    width: calc(var(--i-width) + 1px);
    height: 100%;
    content: '';
}

[class*=containerDefault_]:has(>div>[class*=modeConnected_]):hover {
    background-color: hsla(var(--i-connected)/0.25);
}

[class*=containerDefault_]>div>[class*=modeConnected_]>div>[class*=link_] svg,
[class*=containerDefault_]>div>[class*=modeConnected_]>div>[class*=link_]>div>[class*=name_] {
    color: hsl(var(--i-connected));
}

/* dm */
[class*=channel_] {
    margin: 2px 0;
    max-width: unset;
}

[class*=channel_]>div>[class*=link_] {
    padding-left: 16px !important;
}

[class*=channel_]:hover {
    background-color: var(--background-modifier-hover);
}

/* selected */
[class*=channel_]:has(>[class*=selected_]) {
    background-color: hsla(var(--i-selected)/0.15);
}

[class*=channel_]:has(>[class*=selected_]):before {
    position: absolute;
    background: hsl(var(--i-selected));
    width: var(--i-width);
    height: 100%;
    content: '';
}

[class*=channel_]:has(>[class*=selected_]):hover {
    background-color: hsla(var(--i-selected)/0.25);
}

[class*=channel_]>[class*=selected_]>[class*=link_]>div>div>[class*=linkButtonIcon_],
[class*=channel_]>[class*=selected_]>[class*=link_]>div>div>div>[class*=name_],
[class*=channel_]>[class*=selected_]>[class*=closeButton_] {
    color: hsl(var(--i-selected));
}

[class*=channel_]>[class*=interactive_] {
    background: transparent;
}
